<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <payinstore>
                <active>1</active>
                <title>Pay in Store</title>
                <order_status>pending_payment</order_status>
                <instructions>Bring your ID, credit card and order number to the store to pick up your items.</instructions>
                <payment_action>true</payment_action>
                <model>Magento\SamplePaymentProvider\Model\Payinstore</model>
                <group>offline</group>
            </payinstore>
        </payment>
    </default>
</config>
