<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!--[Add carrrier to global system "carriers" group]-->
        <section id="carriers">
            <!--[Create group of carrier's fields with identifier]-->
            <group id="storepickup" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                <!--[Carrier's label on backend]-->
                <label>In-Store Pickup</label>
                <!--[Carrier's activate field with yes/no source model for dropdown]-->
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!--[Carrier's title field for storefront]-->
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <!--[Carrier's custom field for entering merchant store locations]-->
                <field id="store_locations" translate="label comment" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Locations</label>
                    <!--[Frontend model define rules, that user on backend front]-->
                    <frontend_model>Magento\SampleShippingProvider\Block\System\Config\Form\Field\Locations</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>List of locations where customer can pick up ordered item.</comment>
                </field>
                <!--[Carrier's displayed error message on storefront if unavailable]-->
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
                <!--[Carrier's show method if unavailable with error message activate field]-->
                <field id="showmethod" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!--[Carrier's sort order]-->
                <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
