<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <carriers>
            <storepickup>
                <active>1</active>
                <model>Magento\SampleShippingProvider\Model\Carrier</model>
                <title>In-Store Pickup</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </storepickup>
        </carriers>
    </default>
</config>
